policy_module(dietbitcoin, 1.100.1)

########################################
#
# Declarations
#

type dietbitcoin_t;
type dietbitcoin_exec_t;
init_daemon_domain(dietbitcoin_t, dietbitcoin_exec_t)

permissive dietbitcoin_t;

type dietbitcoin_initrc_exec_t;
init_script_file(dietbitcoin_initrc_exec_t)

type dietbitcoin_conf_t;
files_type(dietbitcoin_conf_t)

type dietbitcoin_var_lib_t;
files_type(dietbitcoin_var_lib_t)

type dietbitcoin_var_run_t;
files_type(dietbitcoin_var_run_t)

type dietbitcoin_port_t;
corenet_port(dietbitcoin_port_t)

########################################
#
# dietbitcoin local policy
#
allow dietbitcoin_t self:process { fork };

allow dietbitcoin_t self:fifo_file rw_fifo_file_perms;
allow dietbitcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(dietbitcoin_t, dietbitcoin_conf_t, dietbitcoin_conf_t)
manage_files_pattern(dietbitcoin_t, dietbitcoin_conf_t, dietbitcoin_conf_t)

manage_dirs_pattern(dietbitcoin_t, dietbitcoin_var_lib_t, dietbitcoin_var_lib_t)
manage_files_pattern(dietbitcoin_t, dietbitcoin_var_lib_t, dietbitcoin_var_lib_t)
files_var_lib_filetrans(dietbitcoin_t, dietbitcoin_var_lib_t, { dir file })

manage_dirs_pattern(dietbitcoin_t, dietbitcoin_var_run_t, dietbitcoin_var_run_t)
manage_files_pattern(dietbitcoin_t, dietbitcoin_var_run_t, dietbitcoin_var_run_t)

sysnet_dns_name_resolve(dietbitcoin_t)
corenet_all_recvfrom_unlabeled(dietbitcoin_t)

allow dietbitcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(dietbitcoin_t)
corenet_tcp_sendrecv_generic_node(dietbitcoin_t)
corenet_tcp_sendrecv_all_ports(dietbitcoin_t)
corenet_tcp_bind_generic_node(dietbitcoin_t)

gen_require(`
    type dietbitcoin_port_t;
')
allow dietbitcoin_t dietbitcoin_port_t:tcp_socket name_bind;

gen_require(`
    type dietbitcoin_port_t;
')
allow dietbitcoin_t dietbitcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(dietbitcoin_t)

files_read_etc_files(dietbitcoin_t)

miscfiles_read_localization(dietbitcoin_t)

sysnet_dns_name_resolve(dietbitcoin_t)

allow dietbitcoin_t dietbitcoin_exec_t:file execute_no_trans;
allow dietbitcoin_t self:process setsched;
corecmd_exec_ls(dietbitcoin_t)
corenet_tcp_connect_http_port(dietbitcoin_t)
dev_read_urand(dietbitcoin_t)
fs_getattr_xattr_fs(dietbitcoin_t)
kernel_read_system_state(dietbitcoin_t)
