
## <summary>policy for dietbitcoin</summary>


########################################
## <summary>
##	Transition to dietbitcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`dietbitcoin_domtrans',`
	gen_require(`
		type dietbitcoin_t, dietbitcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, dietbitcoin_exec_t, dietbitcoin_t)
')


########################################
## <summary>
##	Execute dietbitcoin server in the dietbitcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dietbitcoin_initrc_domtrans',`
	gen_require(`
		type dietbitcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, dietbitcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search dietbitcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dietbitcoin_search_lib',`
	gen_require(`
		type dietbitcoin_var_lib_t;
	')

	allow $1 dietbitcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read dietbitcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dietbitcoin_read_lib_files',`
	gen_require(`
		type dietbitcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, dietbitcoin_var_lib_t, dietbitcoin_var_lib_t)
')

########################################
## <summary>
##	Manage dietbitcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dietbitcoin_manage_lib_files',`
	gen_require(`
		type dietbitcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, dietbitcoin_var_lib_t, dietbitcoin_var_lib_t)
')

########################################
## <summary>
##	Manage dietbitcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dietbitcoin_manage_lib_dirs',`
	gen_require(`
		type dietbitcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, dietbitcoin_var_lib_t, dietbitcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a dietbitcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`dietbitcoin_admin',`
	gen_require(`
		type dietbitcoin_t;
		type dietbitcoin_initrc_exec_t;
		type dietbitcoin_var_lib_t;
	')

	allow $1 dietbitcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, dietbitcoin_t)

	dietbitcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 dietbitcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, dietbitcoin_var_lib_t)

')

